.addtype-contain{
.backpanel{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:1000;
  background-color: #000000;
  opacity:0.8;
  }
  .entity{
    position: fixed;
    top: 30%;
    left: 10%;
    z-index: 1001;
    height: 40%;
    width: 80%;
    padding: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    .funct{
      text-align: center;
      button{
        width:70px;
        height:70px;
      }
      button:first-child{
        margin-right:60px;
      }
    }
    .typename{
      padding-right: 20px;
      font-size: 40px;
    }  
    input{
      width:50%;
      height:60px;
      border: solid;
    }
  }
}
