.newtheme-container{
  padding-top: 88px;
  .newform{
    font-size:30px;
    ul li{
      padding-top:30px;
    }
    span{
      padding-right:30px
    }
    input{
      width:60%;
      height:40px;
    }
    select{
      height:40px;
    }
    .edit_draft{
      padding-top:30px;
    }
  }
}
