@import "../style/mixin.scss";
@import "../assets/iconblog/icon.css";
.theme-container{
  padding-top: 88px;
  .title{
    @include font(36px, $base-color);
    padding: 30px;
  }
  .tips{
    @include font(20px);
    padding: 5px;
    text-align:right;
    span{
      padding-right: 10px;
    }
  }
  .theme{
    width:100%;
    @include font(30px, $base-color);
    padding: 30px;
    ul li{
      list-style:square;
    }
    ol li{
      list-style:decimal;
    }
    img{
      max-width:100%;
    }
  }
  .commentHead{
    padding: 10px;
    background-image: linear-gradient(to right, #e9e9f1, #babad1);
  }
  .comment{
    @include font(36px);
    .commentItem{
      padding:10px;
      @include font(30px);
      border-bottom:1px solid #e0e0e0;
      .lou{
        color:#666666;
        font-size:40px;
        padding-right: 10px;
      }
      .createTime{
        font-size:28px;
        color:#babad1;
      }
      .content{
        padding-top:10px;
        padding-bottom:10px;
        font-size:28px;
      }
      .interaction{
        @include font(26px);
        text-align:right;
        span{
          padding-right: 10px;
        }
      }
    }
  }
  .ansHead{
    @include font(36px);
    padding: 10px;
    background-image: linear-gradient(to right, #e9e9f1, #babad1);
  }
  .edit_draft{
    font-size:20px;
  }
  .answer{
    .pos{
      position: fixed;
      left: auto;
      right: 0;
      top: 50%;
      z-index: 100;
      font-size: 60px;
    }
  }
}
