@font-face {
    font-family: 'iconfont';  /* project id 603186 */
    src: url('//at.alicdn.com/t/font_603186_hckl9u8neidx6r.eot');
    src: url('//at.alicdn.com/t/font_603186_hckl9u8neidx6r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_603186_hckl9u8neidx6r.woff') format('woff'),
    url('//at.alicdn.com/t/font_603186_hckl9u8neidx6r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_603186_hckl9u8neidx6r.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hasup:before{content: "\e672";}
.noup:before{content:"\e702";}
.hasdown:before{content:"\e607";}
.nodown:before{content:"\e6cb";}
.ans:before{content:"\e699";}
.member:before{content:"\e600";}
.commentans:before{content:"\e679";}